@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
* { 
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 6em;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	display: block;
}
h2 {
	font-size: 3.5em;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
}
h3 {
	font-size: 1.5em;
	font-weight: 800;
	line-height: 110%;
	font-family: 'Open Sans', sans-serif;
}
h4 {
	font-size: 1em;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
}
p {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}
header {
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
	padding: 3em;
	float:left;
	width: 100%;
	margin-bottom: 4em;
}
nav {
	text-align: center;
}
aside {
	width: 35%;
	float: right;
	/*padding: 3em 0 3em 0;*/
	max-width: 400px;
}
blockquote {
	position: relative;
  	clear:both;
  	max-width: 500px;
  	width: 80%;
  	margin: auto;
  	padding: 4em 0 4em 0;
}
q {
	font-size: 1.5em;
	text-align: center;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}
cite {
	display:block;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	padding-top: 1em;
}
article {
	margin: auto;
	max-width: 1000px;
	padding-bottom: 8em;
}
form {
	margin: auto;
	width: 70%;
}
input {
	width: 70%;
	text-align: center;
	padding: .5em 0 .5em 0;
	margin-bottom: 1em;
	font-size: 1em;
}
hr {
	max-width: 1000px;
	margin: auto;
}
nav a {
	text-decoration: none;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	padding: 2em;
}
nav a:hover {
	color: #ca232d;
}
footer {
	background-color: #000;
	color: #FFF;
	padding: 4em 0 4em 0;
	text-align: center;
}
footer p {
	padding:.5em;
}
footer a{
	color:#FFF;
}
a {
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color: #ca232d;
}

.clearfix:after {
	content:"";
	display: block;
	clear: both;
}
.mainimage {
	background-image: url(../images/hc-styled-stock-lifestyle-photoshoot-cozy-workday-27-final.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
	padding: 10em 0 15em 0;
}
.mainimage h1 {
	margin-bottom: .25em;
}
.highlight {
	background-color: #FFF;
	padding: 0 .25em 0 .25em; 
}
.mainimage h2 {
	margin-bottom: 1em;
}
.mainimage a{
	background-color: #000;
	color: #FFF;
	padding: 2em 2em 2em 2em;
	margin-top: 5em;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
}
.mainimage a:hover {
	background-color: #ca232d;
	color: #FFF;
}
.headersvg {
	margin-top:-200px;
	width: 100%;
}
#episodeheadline {
	margin: auto;
	text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;
}
.episodetitle {
	text-align: center;
	padding-bottom: .5em;
	padding-top: .5em;
}
.episode img {
	width: 100%;
	text-align: center;
}
.episode {
	float:left;
	padding: 0 1em 0 1em;
	max-width: 25%;
}
.freebie {
	text-align: center;
	width: 100%;
	margin: auto;
	background-color: #000;
	padding: 3em 0 3em 0;
}
.freebie h2 {
	padding-bottom: .5em;
	color: #FFF;
	max-width: 700px;
	margin: auto;
}
.freebie p {
	color: #FFF;
	font-size: 1.25em;
	padding-bottom: 1em;
}
svg {
	width: 100%;
}
.svgtop {
	margin-bottom:-4px;
}
.featuredin {
	margin: auto;
	padding-bottom: 4em;
	text-align: center;
}
.featuredin img {
	padding: 0 1em 0 1em;
}
.featuredin h2 {
	padding-bottom: .5em;
}
#hpabout {
	margin: 5em auto;
	max-width: 1000px;
}
.about {
	float: left;
	width: 65%;
	/*padding: 3em 3em 3em 0;*/
	max-width: 600px;
}
.about img {
	width: 100%;
	padding-bottom: 1em;
}
.eventdivider {
	margin: .5em 0;
	color: #000;
}
.button {
	background-color: #ca232d;
	color: #FFF;
	font-size: 1.5em;
	border: none;
	margin-top: 1em;
}
.button:hover {
	background-color: #FFF;
	color: #000;
	font-size: 1.5em;
	border: none;
	margin-top: 1em;
}
.pagedivider {
	color: #ca232d;
	background-color: #ca232d;
	margin: 0 auto;
	height: 5px;
	max-width: 1000px;
	clear: both;
}
.readmore {
	margin-top: 2em;
}
nav.topnav a.icon {
	display: none;
}
@media screen and (max-width: 1000px) {
	header {
		padding: 0;
	}
	nav {
	background-color: #FFF;
	}
	nav a {
	display: inline-block;
	font-weight: 800;
	}
	#hpabout{
		width: 90%;
	}
	.about {
		width: 60%;
	}
	.episode {
		max-width: 50%;
		padding:2em;
	}
	.pagedivider {
		max-width: 900px;
	}
}
@media screen and (max-width:900px) {
  nav.topnav a:not(:first-child) {
  	display: none;
  }
  nav.topnav a.icon {
    float: right;
    display: inline-block;
  }
  nav{
  	text-align: left;
  }
}
@media screen and (max-width:900px) {
  nav.topnav.responsive {
  	position: relative;
  }
  nav.topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.topnav.responsive a {
    float: none;
    display: inline;
  }
  nav.topnav.responsive a {
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 700px) {
	.episode {
		width: 100%;
		display:block;
	}
	.featuredin img {
		padding: 1em;
		margin: auto;
	}
	.pagedivider {
		max-width: 600px;
	}
	.about {
		width:100%;
		margin: auto;
		display: block;
	}
	aside {
		width: 100%;
		margin: auto;
		display: block;
		clear: both;
		padding-top: 2em;
		max-width: 100%;
	}
	form {
		margin: auto;
		width: 100%;
	}
}
@media screen and (max-width: 460px) {
	.mainimage a{
	padding: 1em;
	}
	.featuredin img {
	display: block;
	}
	.episode {
		max-width: 100%;
		padding:2em;
	}
	h1 {
		font-size:4em;
	}
	h2 {
		font-size: 2em;
	}
	.freebie h2 {
		padding: 0 1em 0 1em;
		line-height: 110%;
	}
	.freebie p {
		padding: 1em;
		line-height: 110%;
	}
	input {
		width: 90%;
	}
}