@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
* { 
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 6em;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	display: block;
}
h2 {
	font-size: 3.5em;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
}
h3 {
	font-size: 2em;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
}
p {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}
header {
	height: 100px;
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
}
nav {
	text-align: center;
	width: 100%;
}
li {
	list-style-type: none;
	padding: 2em 3em 2em 3em;
	display:inline-block;
}
aside {
	width: 35%;
	float: left;
	padding: 3em 0 3em 0;
}
blockquote {
	position: relative;
  	clear:both;
}
q {
	font-size: 1.5em;
	width: 70%;
	text-align: center;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}
cite {
	display:block;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}
article {
	margin: auto;
	padding: 4em 0;
}
form {
	margin: auto;
	width: 70%;
}
input {
	width: 70%;
	text-align: center;
	padding: .5em 0 .5em 0;
	margin-bottom: 1em;
	font-size: 1em;
}
hr {
	width: 50%;
	margin: auto;
}
nav a {
	text-decoration: none;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color: #000;
}
nav a:hover {
	color: #ca232d;
}
footer {
	background-color: #000;
	color: #FFF;
	padding: 4em 0 4em 0;
}
footer a{
	color:#FFF;
}
a {
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
.hphero {
	background-image: url(../images/hc-styled-stock-lifestyle-photoshoot-cozy-workday-27-final.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 1em 0 45em 0;
}
.mainimage {
	padding-top: 8em;
}
.mainimage h1 {
	margin-bottom: .25em;
}
.highlight {
	background-color: #FFF;
	padding: 0 .25em 0 .25em; 
}
.mainimage h2 {
	margin-bottom: 1em;
}
.mainimage a{
	background-color: #000;
	color: #FFF;
	padding: 2em 2em 2em 2em;
	margin-top: 5em;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
}
.mainimage a:hover {
	background-color: #ca232d;
	color: #FFF;
}
#episodeheadline {
	margin: auto;
	text-align: center;
	padding-top: .5em;
}
.episodetitle {
	text-align: center;
	padding-bottom: .5em;
}
.freebie {
	text-align: center;
	width: 100%;
	margin: auto;
	background-color: #000;
	padding: 3em 0 3em 0;
}
.freebie h3 {
	padding-bottom: .5em;
	color: #FFF;
}
.freebie p {
	color: #FFF;
	font-size: 1.25em;
	padding-bottom: 1em;
}
svg {
	width: 100%;
}
.featuredin {
	padding: 4em 0 4em 0;
	margin: auto;
	text-align: center;
}
.featuredin img {
	padding: 0 1em 0 1em;
}
.featuredin h3 {
	padding-bottom: .5em;
}
.episode {
	width: 24%;
	display:inline-block;
	padding: 0 2% 0 2%;
	/*margin: 0 1.5em 0 1.5em;*/
	margin-top: 2em;
}
#hpabout {
	margin: 5em 1.5em 5em 1.5em;
}
.about {
	width: 65%;
	float: left;
	padding: 3em 3em 3em 0;
}
