@import url('https://fonts.googleapis.com/css?family=Merriweather|Nunito+Sans');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {background-color: #FFF;
}
header {
	background-color: #FFED74;
	background-image: url(../images/Fish-Tacos-14.jpg);
	background-size: cover;
}
nav {
	padding-top: 5%;
}
nav a{
	color: #000;
	float: none;
	display: block;
}
article {
}
footer {
	background-color: #000;
	padding: 15%;
	color: #fff;
}
footer p {
	color: #fff;
}
div {
	background-color: #FFF;
}
section {
	padding: 20px;
}
.stickyitem {
	/* float: left; */
	padding: 0px 20px 0px 20px;
	color: #FFF;
	text-transform: uppercase;
	font-family: 'Merriweather' 'Georgia', serif;
	letter-spacing: 1px;
}
.sticky {
	background-color: #000;
	padding-bottom: 4%;
	padding-top: 3%;
	text-align: center;
}
#stickynav {
	margin: 0 auto 0 auto;
}
#specialnav {
	background-color: rgba(255, 255, 255,0.5);
	width: 40%;
	font-size: 3em;
	text-transform: uppercase;
	padding: 40px;
}
.navanchor {
	clear: both;
}
.class {
	width: 24%;
	margin: .5%;
	float: left;
	/* border: 3px solid; */
	height: 15em;
	position: relative;
	background: purple;
	color: #fff;
}
.class h3 {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
#event {
	text-align:center;
	padding: 20% 10% 20% 10%;
}
.eachevent {
	width: 25%;
	float: left;
}
.clear:after {
content:"";
display: block;
clear: both;
}
#freebieoffernormal {
	text-align: center;
}
#freebieoffersmall {
	text-align: center;
}
#coursespreview {
	text-align:center;
	padding: 20% 10% 20% 10%;
}
#aboutpreview {
	text-align: center;
	background-image: url(../images/Fish-Tacos-14.jpg);
	background-size: cover;
	/* padding-bottom: 30%; */
	padding: 10em 0;
}
h1 {color: #333;
	font-size: 54px;
	text-transform: uppercase;
	font-family: 'Merriweather' 'Georgia', serif;
}
h2 {color: #333;
	font-size: 44px;
	text-transform: uppercase;
	font-family: 'Merriweather' 'Georgia', serif;
}
h3 {color: #333;
	font-size: 34px;
	text-transform: uppercase;
	font-family: 'Merriweather' 'Georgia', serif;
}
p {color: #333;
	font-size: 14px;
	font-family: 'Nunito Sans', 'Arial', sans-serif;
}
ul {

}
li {
	color: #333;
	list-style: none;
	padding-bottom: 15px;
}
img {margin: auto;
	width: 100%;
}
#slogan {
	font-style: italic;
	text-transform: uppercase;
}
#two_column {
    border: 1px black solid;
    padding: 20px;
}

#left {
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 50%;
}

#right {
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 50%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
